# Build results  
[Bb]in/  
[Oo]bj/  

# Visual Studio files  
.vs/  
*.suo  
*.user  
*.userosscache  
*.sln.docstates  

# Rider  
.idea/  

# Visual Studio Code  
.vscode/  

# NuGet Packages  
packages/  
*.nupkg  
*.snupkg  

# Logs  
*.log  

# Temporary files  
*.tmp  
*.temp  

# Others  
*.db  
*.mdb  
*.pdb  
